    <footer>
        <% function getCurrentYear() {  %>
        <%    let today = new Date();  %>
        <%    let currentYear = today.getFullYear();  %>
        <%    return currentYear;  %>
        <%  }  %>
        <div class="copyright">Copyright ©<%= getCurrentYear() %></div>

    </footer>

    </body>
</html>