<%- include("header") %>
<div class="wrapper">
  <h1 class="class">New post</h1>
  <form action="/" method="post">
    <textarea name="newPost" id="newPost" cols="30" rows="10"></textarea>
    <button type="submit">Create post</button>
  </form>
</div>
<%- include("footer") %>